name: Go CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  go-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24.6"

      - name: Mage
        shell: bash
        run: |
          go install github.com/magefile/mage@latest

      - name: golangci-lint
        shell: bash
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v${GOLANGCI_LINT_VERSION}
        env:
          GOLANGCI_LINT_VERSION: "2.1.6"

      - name: Install dependencies
        run: go mod download
        working-directory: ${{ inputs.plugin-directory }}
        shell: bash

      - name: Lint
        run: golangci-lint run --timeout=5m
        shell: bash

      - name: Test
        run: mage -v test
        shell: bash

      - name: Build
        run: mage
        shell: bash
